<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/2968a652-9d8e-4263-9885-c654bdbfbde6/resourceGroups/MaerskLine_RG_SA/providers/Microsoft.Web/sites/maersklineddac</ResourceId>
    <ResourceGroup>MaerskLine_RG_SA</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://maersklineddac.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>maersklineddac.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>maersklineddac</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$maersklineddac</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:maerskline-server.database.windows.net,1433;Initial Catalog=MaerskLine;Persist Security Info=False;User ID=tp034766;Password=Password034766;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:maerskline-server.database.windows.net,1433;Initial Catalog=MaerskLine;Persist Security Info=False;User ID=tp034766;Password=Password034766;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MaerskLine.Models.ApplicationDbContext, MaerskLine" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MaerskLineEntities4" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:maerskline-server.database.windows.net,1433;Initial Catalog=MaerskLine;Persist Security Info=False;User ID=tp034766;Password=Password034766;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:maerskline-server.database.windows.net,1433;Initial Catalog=MaerskLine;Persist Security Info=False;User ID=tp034766;Password=Password034766;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MaerskLine.Models.MaerskLineEntities4, MaerskLine" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="MaerskLineEntities4-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.MLModels.csdl|res://*/Models.MLModels.ssdl|res://*/Models.MLModels.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:maerskline-server.database.windows.net,1433;Initial Catalog=MaerskLine;Persist Security Info=False;User ID=tp034766;Password=Password034766;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:maerskline-server.database.windows.net,1433;Initial Catalog=MaerskLine;Persist Security Info=False;User ID=tp034766;Password=Password034766;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="MaerskLineEntities4-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.MLModels.csdl|res://*/Models.MLModels.ssdl|res://*/Models.MLModels.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:maerskline-server.database.windows.net,1433;Initial Catalog=MaerskLine;Persist Security Info=False;User ID=tp034766;Password=Password034766;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:maerskline-server.database.windows.net,1433;Initial Catalog=MaerskLine;Persist Security Info=False;User ID=tp034766;Password=Password034766;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>